@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');


*{
    font-family: 'Source Code Pro', monospace;
    color: #42c920;
}
body{
    background-image: url("https://thumbs.gfycat.com/HatefulSeveralIbis-max-1mb.gif");
    background-size: cover;
    margin: auto;
    text-align: center;
}
.container{
    background: rgba(0, 0, 0, 0.555);
    width: 86%;
    height: 90%;
    margin: auto;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 50px;
    background: black;
}
::-webkit-scrollbar-thumb{
    background: #42c920;
    border-radius: 50px;
}
.container_datos{
    width: 50%;
    margin: auto;
}
.datos{
    width: 100%;
    margin: 5px;
    padding: 8px;
    text-align: center;
    background: rgba(0, 0, 0, 0.397);
    outline: none;
    border: none;
}
::placeholder{
    color: #42c920;
}
.datos1{
    margin: 5px;
    border-radius: 10px;
    padding: 8px;
    background: rgba(0, 0, 0, 0.397);
    cursor: pointer;
}
.dis{
	margin: 5px;
    padding: 5px;
    text-align: center;
    background: transparent;
    outline: none;
    border: none;
    color: white;
}
table {
    border-collapse: separate;
    border-spacing: 8px;
    background: rgba(0, 0, 0, 0.555);
    color: whitesmoke;
}
td, th {
    color: #42c920;
}